Serial_Number, Product_ID, Site_Name, Name
FOC1849Z2JL, WSC2960C, Global/Demo_DE/B1/F3, MainRouter
AAA1111K3MX, C891FK9, Global/Demo_DE/B1/F3, HallwaySwitch
FOC1849Z2KK, WSC2960C, Global/Demo_DE/B1/F3, MainRouter2
